body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("wp6308454-purple-aesthetic-gaming-wallpapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-wrap: wrap;
    background-position: center center;
    animation-name: bg;
    animation-duration: 4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.parent{
    background: transparent;
    border: 3px solid gray;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 390px;
    width: 500px;
    flex-wrap: wrap;
    border-radius: 30px;
}

.parent div{
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    color: white;
}
.yout{
    border-radius: 50px;
    text-align: center;
    background: linear-gradient(45deg,#ff0000,#CC0000);
    border: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}
.insta{
    background: linear-gradient(45deg, #f58529,#dd2a7b,#8134af,#515bd4);
    border: 3px solid ;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    text-align: center;
}
.facebook{
    background: linear-gradient(45deg,#1877f2,#0d65d9);
    border: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    text-align: center;

}
.free{
    background: linear-gradient(153deg,#b8000d,#ff1e1e,#ff3b3b);
    border: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}
h1{
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
}
.border{
    height: 100px;
    width: 440px;
    background-color: transparent;
    border: 10px solid black;
    border-radius: 50px;
}
.yout:hover{
    background: linear-gradient(45deg,#e60000,#b80000);
    transition: all;
    cursor: not-allowed;
}
.insta:hover{
    background: linear-gradient(45deg,#e26a1a,#c81f6d,#6f2dbd,#3f4ed8);
    cursor: pointer;
}
.facebook:hover{
    background: linear-gradient(45deg,#145dbf,#0b4fb3);
    cursor: not-allowed;
}
.parent h1{
    text-align: center;
    font-family: 'Poppins', 'Inter' 'Segoe Ui', sans-serif
}
.parent h2{
    text-align: center;
    font-family: 'Poppins', 'Inter' 'Segoe Ui', sans-serif
}
.second{
    background: transparent;
    border: 3px solid gray;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 390px;
    width: 500px;
    flex-wrap: wrap;
    border-radius: 30px;
}

.second div{
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}
.second h1{
    flex-wrap: wrap;
    color: white;
    position: absolute;
    font-size: 50px;
}
.free:hover{
    background: linear-gradient(153deg,#ff3b3b,#b8000d,white);
}
.back{
    border-radius: 20px;
    font-size: 20px;
    width: 100px;
    background: skyblue;
    color: white;
    border: 2px solid;
    border-color: gray;
    cursor: pointer;
}